body {
		background-color: #faedcf;
}

.selectors {
		margin: 10px 0 10px 0;
		padding: 0 0 0 0;
		height: 50px;
		float: left;
}

.selector-label {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		display: inline-block;
}

.selector-dropdown {
		margin: 0 0 0 0;
		padding: 0 3px 0 0;
		background-color: #FFF;
		display: inline-block;
		vertical-align: 2px;
}

.selector-submit {
		margin: 0 0 0 0;
		padding: 2px 2px 2px 2px;
		display: inline-block;
		background-color: #DDD;
		border: 1px outset #AAA;
		vertical-align: 2px;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.graph-icon-span {
		display: inline;
		float: right;
		margin: 0 10px 0 0;
		padding: 0 0 0 0;
}
.graph-icon {
		height: 20px;
		width: 20px;
}
#graph-dialog {
		width: 96% !important;
}

#chart {
		height: 100%;
		width: 100%;
}

.toggle-div {
               margin: 0 0 10px 0;
               padding: 0 0 0 0;
               height: 50px;
               width: auto;
               float: right;
               display: inline-block;
}

.toggle-span {
               margin: 0 0 0 0;
               padding: 2px 2px 2px 2px;
               background-color: #DDD;
               border: 1px outset #AAA;
               vertical-align: -10px;
               font-size: 80%;
}

td {
		background-color: #f9f9f9;
}

.treetable {
		width: 1200px;
}

.span-container {
		padding-left: 23em;
}

.branch {
border-top: #BBB solid 1px;
}

.name-span {
		padding: 0 0 0 0 !important;
		font-weight: 600;
}

.rollup-cost-span {
		display: inline;
		float: right;
		font-weight: 600;
}

.indenter-head {
		width: 0.25em;
}

.tag-head {
		width: 6em;
}

.account-head {
		width: 6em;
}

.service-head {
		width: 6em;
}

.description-head {
		width: 35em;
}

.description-span {
		display: table-cell;
		width: 32em;
		padding: 0 0 0 0 !important;
		margin: 0 0 0 0 !important;
}

.usage-type-head {
		width: 13em;
}
.usage-type-span {
		display: table-cell;
		width: 13em;
		padding: 0 0 0 20px !important;
		margin: 0 0 0 0 !important;
}

.usage-quantity-head {
		width: 10em;
}
.usage-quantity-span {
		display: table-cell;
		text-align: right;
		width: 10em;
		padding: 0 5px 0 5px !important;
		margin: 0 0 0 0 !important;
}

.blended-rate-head {
		width: 5em;
}
.blended-rate-span {
		display: table-cell;
		text-align: right;
		width: 5em;
		padding: 0 5px 0 5px !important;
		margin: 0 0 0 0 !important;
}

.total-cost-head {
		width: 5em;
}
.total-cost-span {
		display: table-cell;
		text-align: right;
		width: 5em;
		padding: 0 5px 0 5px !important;
		margin: 0 0 0 0 !important;
}

