body {
		background-color: #faedcf;
}

/* date selector */
.selectors {
		margin: 10px 0 5px 0;
		padding: 0 0 0 0;
		height: 20px;
		display: inline-block;
}

.selector-label {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		display: inline-block;
}

.selector-dropdown {
		margin: 0 0 0 0;
		padding: 0 3px 0 0;
		background-color: #FFF;
		display: inline-block;
		vertical-align: 2px;
}

.selector-submit {
		margin: 0 0 0 0;
		padding: 2px 2px 2px 2px;
		display: inline-block;
		background-color: #DDD;
		border: 1px outset #AAA;
		vertical-align: 2px;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* graph dialog */
.graph-icon-span {
		display: inline-block;
		margin: 0 0 0 0;
		padding: 0 0 0 2em;
}
.graph-icon {
		height: 17px;
		width: 17px;
}

#chart {
		height: 100%;
		width: 100%;
}

/* Toggle buttons */
.toggle-div {
               margin: 10px 28px 5px 0;
               padding: 0 0 5px 0;
               height: 20px;
               display: inline-block;
               float: right;
}

.toggle-span {
               margin: 0 5px 2px 5px;
               padding: 2px 2px 2px 2px;
               background-color: #DDD;
               border: 1px outset #AAA;
               font-size: 80%;
}

/* table style */
td {
		background-color: #f9f9f9;
}

.treetable {
		width: 1200px;
}

.span-container {
		padding-left: 23em;
}

.branch {
border-top: #BBB solid 1px;
}

.odd {
		background: #f2f2f2;
}

.even {
		background: #e6e6e6;
}
.name-span {
		padding: 0 0 0 0 !important;
		font-weight: 600;
}

.rollup-cost-span.tag {
		display: inline;
		float: right;
		font-weight: 600;
		font-size: 1.1em
}

.rollup-cost-span.account {
		display: inline;
		float: right;
		font-weight: 300;
		font-size: 1.1em
}

.rollup-cost-span.product {
		display: inline;
		float: right;
		font-weight: 600;
}

.indenter-head {
		width: 0.25em;
}

.tag-head {
		width: 6em;
}

.account-head {
		width: 6em;
}

.service-head {
		width: 6em;
}

.description-head {
		width: 35em;
}

.description-span {
		display: table-cell;
		width: 32em;
		padding: 0 0 0 0 !important;
		margin: 0 0 0 0 !important;
}

.usage-type-head {
		width: 13em;
}
.usage-type-span {
		display: table-cell;
		width: 13em;
		padding: 0 0 0 20px !important;
		margin: 0 0 0 0 !important;
}

.usage-quantity-head {
		width: 10em;
}
.usage-quantity-span {
		display: table-cell;
		text-align: right;
		width: 10em;
		padding: 0 5px 0 5px !important;
		margin: 0 0 0 0 !important;
}

.blended-rate-head {
		width: 5em;
}
.blended-rate-span {
		display: table-cell;
		text-align: right;
		width: 5em;
		padding: 0 5px 0 5px !important;
		margin: 0 0 0 0 !important;
}

.total-cost-head {
		width: 5em;
}
.total-cost-span {
		display: table-cell;
		text-align: right;
		width: 5em;
		padding: 0 5px 0 5px !important;
		margin: 0 0 0 0 !important;
}

