.results_table {
		width: 100% !important;
}

.results_container {
		padding: 10px 0 20px 0;
}

.account_name_header {
		font-size: 1.5em;
		padding: 0px 0 5px 0;
}

tr.even[role=row] {
		background-color: #ffffe6;
}

tr.odd[role=row] {
		background-color: #eeeeff;
}

td {
	  font-weight: normal;
}

div.dataTables_processing {
		color: black !important;
}

.dataTables_empty {
		color: white;
}

tr.shown td.details-control {
		background: url('../static/DataTables-1.10.11/examples/resources/details_close.png') no-repeat center center;
}

td.details-control {
		background: url('../static/DataTables-1.10.11/examples/resources/details_open.png') no-repeat center center;
}

tr.odd td.delta-col.negative {
		background: #99ff99;
}
tr.even td.delta-col.negative {
		background: #ccffcc;
}
tr.odd td.delta-col.positive {
		background: #ff8566;
}
tr.even td.delta-col.positive {
		background: #ffc2b3;
}

tr.odd td.savings-col.negative {
		background: #ff8566;
}
tr.even td.savings-col.negative {
		background: #ffc2b3;
}
tr.odd td.savings-col.positive {
		background: #99ff99;
}
tr.even td.savings-col.positive {
		background: #ccffcc;
}

.instances-table {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
}

#dialog {
		background: #ffffe6;
		width: auto;
		height: auto;
}

.dt-buttons {
display: inline;
margin: 0 0 0 15px;
padding: 0 0 0 0;
}

