.brick.small {
  width: 140px;
  height: 140px;
	border: solid red;
}

.brick.large {
  width: 300px;
  height: 300px;
	border: solid blue;
}

.brick.tall {
  width: 300px;
  height: 100%;
	border: solid yellow;
}

.widget-title {
		font-size: 1.2em;
		font-weight: 900;
}

/* gcp costs widget */
.d3-chart-container {
	height: 90%;
	width: 100%;
}

/* aws costs widget */
.gridly {
	margin: 30px 0 0 0;
	position: relative;
}

.rollup-cost-span.tag {
		display: inline;
		float: right;
		font-weight: 300;
		font-size: 1.1em
}

.rollup-cost-span.account {
		display: inline;
		float: right;
		font-weight: 600;
		font-size: 1.1em
}

.rollup-cost-span.product {
		display: inline;
		float: right;
		font-weight: 300;
}

/* v3 stats widget */
.v3stats-div {
}
.v3stats-section {
		font-weight: 600;
}
.v3stats-label {
		padding: 0 0 0 20px;
}
.v3stats-value {
		float: right;
}

