@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000;
  background: #eee;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

.results_container {
}
.account_header {
		font-size: 1.5em;
		font-weight: 700;
}
#results_body {
		margin: 25px;
}
#region_name {
		font-size: 1.25em;
		font-weight: 600;
}
.table {
		display: table;
		width: auto;
}
.row {
		display: table-row;
		margin: 10px;
		width: auto;
		height: 50px;
		clear: both;
}
.column {
		display: table-column;
		padding: 10px;
		width: 100px;
		float: left; //fix for buggy browsers
}
#region_results_header {
		display: table-column;
		font-weight: 500;
		padding: 10px;
		width: 100px;
		float: left; //fix for buggy browsers
}
.purchase_form {
		position: relative;
		top: 10px;
}
.message {
		font-size: 1.10em;
		font-weight: 400;
}
img#checkmark.icon {
		width: 20px;
		height: 20px;
		position: relative;
		top: 3px;
		right: -10px;
}
img#warning.icon {
		width: 20px;
		height: 20px;
		position: relative;
		top: 3px;
		right: -10px;
}
div.d3-chart-container {
		height: 600px;
		width: 75%;
}
input.text_input {
		width: 30px;
}
input {
		position: relative;
		top: 15px;
}
